<template>
  <div class="loader">
    <vue-loaders-ball-clip-rotate color="#FAD02C" :scale="2" class="loader__item"/>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
@import '~/assets/scss/helpers/loader.scss';
</style>
