.dropdown {
  padding: 10% 5%;

  .icon {
    margin-right: 0.3rem;
  }

  .arrow {
    width: 12px;
    transition: all 0.3s;
  }

  .rotated {
    transform: rotate(180deg);
  }

  &-menu {

    &__item {
      border-bottom: 1px solid #FAD02C;
      padding: 5px;
      font-size: 16px;
      margin: 5px 0;

    }
  }
}

