.notes-wrapper {
  display: flex;
  width: 85%;

  .notes {
    background-color: whitesmoke;
    width: 30%;
    border-right: 1px solid #e6e6e6;
    max-height: 100vh;

    &__title {
      border-bottom: 1px solid #e6e6e6;

      img {
        margin-right: 0.2rem;
      }

      h1 {
        font-size: 30px;
        display: inline-block;
        margin-bottom: 20px;
      }
    }

    &__items {
      overflow-y: auto;
      max-height: 86%;
      .item {
        border-bottom: 1px solid #e6e6e6;
        .title,.text {
          margin-bottom: 10px;
        }

        .text {
          color: gray;
        }

        .date {
          font-size: 14px;
        }

      }

      .is-active {
        background-color: white;
      }
    }

  }
  .notes-note {
    width: 70%;
    background-color: white;
  }
}
