<template>
  <div class="modal">
    <div class="form">
      <h2>Создать заметку</h2>
      <div class="input">
        <input type="text" v-model="name" placeholder="Название" required>
      </div>
      <div class="input">
        <textarea name="" cols="40" rows="10" v-model="text" placeholder="Описание" required></textarea>
      </div>
      <div class="input">
        <button class="btn-modal" @click="addNote">
          Добавить
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "modal",
  data() {
    return {
      showModal: true,
      name: '',
      text: ''
    }
  },
  methods: {
    addNote() {
      this.$axios.post(`https://api.notes.a-lux.dev/api/notes`, {
        name: this.name,
        text: this.text
      })
        .then((res) => {
            window.location.href = `https://api.notes.a-lux.dev/notes/${res.data.id}`
          }
        );
    }
  }
}
</script>

<style lang="scss">
.btn-modal {
  border-radius: 25px;
  padding: 15px 35px;
  background-color: #FAD02C;
  color: black;
  font-size: 14px;
  border: none;
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  margin-right: 30%;
  background-color: #e6e6e6;
  border-radius: 50px;
  padding: 30px;
  text-align: center;

  h2 {
    margin-bottom: 10px;
  }
}

.input {
  padding: 15px 0;

  input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #e6e6e6;
    background-color: #ececec;

  }

  textarea {
    font-size: 16px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #e6e6e6;
    outline: none;
    background-color: #ececec;
    resize: none;
  }

}

</style>
