<template>
  <div class="navbar">
    <div class="navbar__wrapper">
      <dropdown :config="userDropdown"/>
      <div class="search">
        <input type="text" class="search__input" placeholder="Поиск">
      </div>
      <!--        <hr>-->
      <nuxt-link to="/" class="navbar-item" :class="{'is-active': $route.path === '/'}">
        <img src="~/assets/images/home.png" alt="notes" class="icon va-middle">
        <span class="va-middle">
            Главная
        </span>
      </nuxt-link>
      <nuxt-link to="/notes" class="navbar-item" :class="{'is-active': $route.path.includes('/notes')}">
        <img src="~/assets/images/notes.png" alt="notes" class="icon va-middle">
        <span class="va-middle">
            Заметки
          </span>
      </nuxt-link>
      <dropdown :config="tagsDropdown"/>
    </div>
  </div>
</template>

<script>
import dropdown from '~/components/helpers/dropdown'
import userImage from '~/assets/images/user.png'
import tagsImage from '~/assets/images/tag.png'

export default {
  components: {
    dropdown
  },
  data() {
    return {
      tags: {},
      userDropdown: {
        name: 'username',
        icon: userImage,
        options: {
          2: {
            name: 'Выйти',
            link: '/'
          }
        }
      },
      tagsDropdown: {
        name: 'Метки',
        icon: tagsImage,
      }
    }
  },
  methods: {
    async getTags() {
      await this.$axios.$get(`https://api.notes.a-lux.dev/api/tags`)
        .then((res) => {
            this.tags = res.tags;
            let options = [];
            this.tags.forEach(item =>
              options.push({
                'name': item.name,
                'link': `/tags/${item.id}`,
              })
            );
            this.tagsDropdown.options = options
            this.showLoader = false
          }
        );
    },
  },
  mounted: function () {
    this.getTags()
  },


}
</script>

<style lang="scss">
@import '~/assets/scss/components/navbar.scss';
</style>
