<template>
  <div class="notes-wrapper">
    <loader v-if="showLoader"/>
    <div class="notes">
      <div class="notes__title note-block">
        <img src="~/assets/images/notes-black.png" alt="">
        <h1>Заметки</h1>
        <p>Всего: {{ notes.length }} <span style="text-decoration: underline; cursor: pointer"
                                           @click="showModal = !showModal">Добавить заметку</span></p>
      </div>
      <div class="notes__items">
        <div class="item" v-for="note in notes" :key="note.id">
          <nuxt-link :to="`/notes/${note.id}`">
            <div class="note-block" :class="{'is-active': $route.path === `/notes/${note.id}`}">
              <h3 class="title">{{ note.name }}</h3>
              <p class="text">{{ note.text }}</p>
              <span class="date">{{ note.created_at }}</span>
            </div>
          </nuxt-link>
        </div>
      </div>
    </div>
    <div class="notes-note">
      <slot>

      </slot>
    </div>
    <modal v-if="showModal"/>

  </div>
</template>

<script>
import loader from '~/components/helpers/Loader'

export default {
  components: {
    loader
  },
  data() {
    return {
      notes: {},
      showLoader: true,
      showModal: false
    }
  },
  methods: {
    async getNotes() {
      await this.$axios.$get('https://api.notes.a-lux.dev/api/notes').then((res) => {
          this.notes = res.notes
          this.showLoader = false
        }
      );
    }
  },
  created: function () {
    this.getNotes()
  },
}
</script>

<style lang="scss">
@import "~/assets/scss/components/notes.scss";
</style>
