<template>
  <div class="news">
    <h1>Публикация 1.01 Alfa</h1>
    Сайт был запущен на хостинг, и подключен к сайту api.notes.a-lux.dev. Проврека работоспособности дизайна.

    <h1>Публикация 1.02 Alfa</h1>

    Сделан дизайн заметок. Изменен формат даты создания заметок.

    <h1>
      Публикация 1.03 Alfa

    </h1>

    Дизайн изменился, и теперь для модели Tags не нуждается в параметре color.
  </div>
</template>

<script>

export default {

}
</script>

<style lang="scss">
@import '~/assets/scss/components/index.scss';
@import '~/assets/scss/main.scss';
</style>
