<template>
  <div class="notes-wrapper">
    <loader v-if="showLoader"/>
    <div class="notes">
      <div class="notes__title note-block">
        <img src="~/assets/images/tag-black.png" alt="">
        <h1>{{tag}}</h1>
        <p>Всего: {{ notes.length }}</p>
      </div>
      <div class="notes__items">
        <div class="item" v-for="note in notes" :key="note.id">
            <div class="note-block" :class="{'is-active': $route.path === `/notes/${note.id}`}"
            @click="selectNote(note.id)">
              <h3 class="title">{{ note.name }}</h3>
              <p class="text">{{ note.text }}</p>
              <span class="date">{{ note.created_at }}</span>
            </div>
        </div>
      </div>
    </div>
    <div class="notes-note">
      <Note :selected="selectedNote" v-if="selectedNote != 0"/>
    </div>
  </div>
</template>

<script>
import loader from '~/components/helpers/Loader'

export default {
  components: {
    loader
  },
  data() {
    return {
      notes: {},
      tag: '',
      selectedNote : 0,
      showLoader: true
    }
  },
  methods: {
    async getNotes () {
      await this.$axios.$get(`https://api.notes.a-lux.dev/api/tags/${this.$route.params.id}`).then((res) => {
          this.notes = res.notes
          this.tag = res.tag
          this.selectedNote = this.notes[0].id
          this.showLoader = false
        }
      );
    },
    selectNote(id) {
      this.selectedNote = id;
    }
  },
  created: function (){
    this.getNotes()
  },
}
</script>

<style lang="scss">
@import "~/assets/scss/components/tags_id.scss";
</style>
