<template>
  <div class="notes-index">
    <h2>
      Выберите заметку, либо создайте новую...
    </h2>
  </div>
</template>

<script>

export default {
  layout: 'notes-layout',
}
</script>

<style lang="scss">
@import "~/assets/scss/components/notes-index.scss";
</style>
